/*
--------------------------------------------------------------
Colours and backgrounds for common.css Overwatch
-------------------------------------------------------------- */

/* General Markup Styles */
html, body {
	color: #fff;
}

h1 {
	color: #000;
}

h2	{ color: #CCFFFF; }
h2 a:hover	{ color: #FFF; }

.content h2, .panel h2 {
	color: #66CCFF;
	border-bottom-color: #3380C8;
}

h2.solo { margin-bottom: 0.5em; }

h3 {
	color: #8d66c6;
	border-color: rgba(29,63,98,0.5);
}

/* Headings */
h3
{
	text-shadow: 0 0 16px #009CFF;
}

h2
{
	text-shadow: 0 0 16px #009CFF;
}

.pm .postbody h3.first {
	color: #66CCFF;
	font-size: 1.6em;
}

hr {
	border: 0 none #14324E;
	border-top: 1px solid #14324E;
}

hr.dashed {
	border-top-color: #14324E;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */
a 			{ color: #FFFFFF; }
a:hover 	{ color: #eef7f9; }
a:active	{ color: #eef7f9; }

a.topictitle,			a.forumtitle		{ color: #48CCFF; }
a.topictitle:active,	a.forumtitle:active	{ color: #00D8FF; }

a.up:before, a.down:after, a.left:before, a.right:after, a.top:before, a.top2:before,
a.arrow-up:before, a.arrow-down:after, a.arrow-left:before, a.arrow-right:after {
	color: #00B2DC;
}
a.up:hover:before, a.down:hover:after, a.left:hover:before, a.right:hover:after, a.top:hover:before, a.top2:hover:before,
a.arrow-up:hover:before, a.arrow-down:hover:after, a.arrow-left:hover:before, a.arrow-right:hover:after {
	color: #00D1FF;
}

h2 a	{ color: #CCFFFF; }

h2 a:hover, h2 a:active {
	color: #FFF; text-decoration: none;
}

h3 a:hover { text-decoration: none; }

#page-footer a, #page-footer  a:hover, #page-footer a:active  {
	color: rgb(142, 177, 188);
}


.forumbg .header a:active, .forabg .header a:active, th a:active { color: #00C0FF; }

.forumbg .header a, .forabg .header a, th a,
li.header dd, li.header a, table.table1 thead th,
#cp-main table.table1 thead th, #cp-main .panel li.header dd, #cp-main {
	color: #CCFFFF;
}


/* Post body links */
.postlink {
	border-bottom-color: #2f7899;
	color: #66CCFF;
}

.postlink:hover {
	border-bottom-color: #4F93B6;
	color: #CCFFFF;
}

.postlink:active {
	border-bottom-color: #4F93B6;
	color: #CCFFFF;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #FFF;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
/* Main blocks */

.page-body {

	background: url("./images/border-bot-left.gif") no-repeat 0 100%,
		url("./images/border-bot-right.gif") no-repeat 100% 100%,
		url("./images/border-top-right.gif") no-repeat 100% 0,
		url("./images/border-top-left.gif") no-repeat 0 0,
		url("./images/border-bot.gif") repeat-x 0 100%,
		url("./images/border-top.gif") repeat-x 0 0,
		url("./images/border-right.gif") repeat-y 100% 0,
		url("./images/border-left.gif") repeat-y 0 0,
		rgba(0, 0, 0, 0.8);
	background-color: rgba(19, 42, 77, 0.6) !important;
	border-radius: 3px;
}

.page-body:before {
	box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.65);
}

/*  pbwow navigation block right top */

.navblock {
	border: 0px transparent;
	background-color: rgba(19, 42, 77, 0.6);
	border-bottom: 0px;
	background-size: 3px 100%;
	background-position: 100% 0, 0 0;
	background-repeat: no-repeat;
	color: #fff;
	border-radius: 3px;
}

.wrap {
	background-color: transparent;
	border-color: transparent;
}

.headerbar {
	background: url("./images/triangles.png") no-repeat 49.999% 105%;
}

.forumbg {
	box-shadow: none;
	border: none;
	background: none;
}

.forumbg > .inner {
	box-shadow: none;
	border: none;
	background: none;

}

.forabg {
	background: transparent none repeat-x 0 0;
}

.navbar {
	background-color: rgba(19, 42, 77, 0.6);
	background-image: linear-gradient(rgba(59, 31, 78, 0.5), rgba(59, 31, 78, 0.5)), linear-gradient(rgba(59, 31, 78, 0.5), rgba(59, 31, 78, 0.5));
	border-top: 1px transparent;
}

.navbar:before,
.navbar.no-search:before {
	background: url("./images/pink-background.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
}

.panel {
	background: #111;
	background: rgba(20, 20, 20, 0.75);
	border: 1px solid #444;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
	color: #E1C492;
}


.bg1	{
	background: rgba(16, 16, 16, 0.75);
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background: rgba(16, 16, 16, 0.75);
}

.bg2	{
	background: rgba(27, 27, 27, 0.75);
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background: rgba(27, 27, 27, 0.75);
}

.bg3	{
	background-color: transparent;
}

.post {
	background-color: transparent;
}

.post:target {
	box-shadow: 0 0 18px rgba(0, 156, 255, 0.6);
}

.post:target h3 a {
	color: #FFF;
}

.post:target .content {
	color: #DDD;
}


.post.reported,
.post.warned,
.post.deleted {
	background-color: inherit;
}

.postbody {
	color: #8EB1BC;
}

.post .postbody h3,
.post p.author {
	margin-left: 10px !important; /* TODO check */
}

#topicreview {
	background-color: rgba(0,0,0,0.4);
}

.post-container:hover,
#topicreview .post:hover {
	background-color: rgba(28, 40, 100, 0.15);
	transition: background 0.25s ease-in-out 0s;
}

.post .postbody .content,
#cp-main .post .content,
#cp-main .pm .content {
	background-image: linear-gradient(to right, rgba(12, 45, 79, 0.1) 0, rgba(12, 45, 79, 0.5) 20%, rgba(12, 45, 79, 0.1) 100%);
	background-size: 100% 1px;
	background-position: 0 0;
	background-repeat: no-repeat;
	border: none;
}

/* Horizontal lists
----------------------------------------*/
#top-bar {
	background: rgba(11, 13, 19, 0.75);
	border-bottom: 1px solid rgba(5, 81, 126, 0.75);
}

ul.navlinks {
	border-top-color: transparent;
}


/* top-bar hamburger menu */
ul.linklist li.responsive-menu a.responsive-menu-link {
	color : gray;
}

/* top-bar hamburger menu */
ul.linklist li.responsive-menu a.responsive-menu-link:hover {
	color : #FFF;
}


/* Table styles
----------------------------------------*/
table.table
{
	background: none;
	border: none;
	padding: 0;
	box-shadow: none;
	outline: none;
}

table.table, table.table1 td {
	color: #8eb1bc;
}

table.table1 tbody th {
	background: #101010;
	border-bottom: 1px solid #000000;
	color: #E1C492;
}

table.table1 thead tr {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(0, 156, 255, 0.35);
}

table.table1 tbody tr {
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

table.zebra-list tbody tr:nth-child(even) {
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

table.table1 tbody tr.bg1
{
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

table.zebra-list tbody tr:nth-child(odd) {
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

table.table1 tbody tr.bg2
{
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}


table.table1 tbody tr.bg3 {
	background: rgba(69, 123, 190, 0.15);
	border-color: #172040;
}

table.table1 tbody tr:hover td,
table.table1 tbody tr.hover td {
	color: #FFF;
}

/* Specific column styles */
table.table1 tbody .big-column td {
	color: #FFF;
}

.panel-container table.table1 thead th {
	color: #FFF;
	border-bottom-color: rgba(0,156,255,0.3);
}

table.info tbody th {
	color: #FFF;
}

table.table1 tbody tr:hover,
table.table1 tbody tr.hover,
table.table1 tbody tr.bg1:hover,
table.table1 tbody tr.bg1.hover,
table.table1 tbody tr.bg2:hover,
table.table1 tbody tr.bg2.hover,
table.table1 tbody tr.bg3:hover,
table.table1 tbody tr.bg3.hover,
table.zebra-list tbody tr:nth-child(odd):hover,
table.zebra-list tbody tr:nth-child(even):hover {
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}


/* Misc layout styles
---------------------------------------- */

/* Responsive breadcrumbs */

#body-header li.breadcrumbs:before {
	color: #fff;
}

.navbar .breadcrumbs .crumb a:hover {
	color: #fff;
}
.navbar .breadcrumbs .crumb a:before {
	border-bottom-color: #e5f8ff;
}
.navbar .breadcrumbs .crumb a:hover:before {
	border-bottom-color: #fff;
}

.breadcrumbs .crumb:before {
	color: #fff;
}


/* Table styles */

/* jQuery popups*/

/* pbWoW */
.forum-blocks li.row:hover {
	background: none;
}


.forum-blocks dl {
	background-color: rgba(8, 16, 32, 0.10);
	border-color: transparent;
	box-shadow: none;
}


.forum-blocks dl:hover {
	background-color: rgba(0, 0, 0, 0.15);
	border-color: transparent;
	box-shadow: none;
}

.forum-blocks dl .list-inner {
	color: #fff;
}

.forum-blocks dl:hover .list-inner {
	color: #fff;
}

/* Other blocks */
.misc-block, .stat-block p {
	/*
    background: #141414;
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid #444;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.6);
    */
}

.forum-blocks dd.forum-stats,
.forum-blocks dd.redirect,
.forum-blocks dd.mcp-status,
#recent-topics dd.lastpost {
	color: #fff;

}

/* Footer */

/* Rules & Errors */
.error {
	color: #FF1111;
}

div.rules {
	color: #FFF;
	background-color: transparent;
	/*background-image:	linear-gradient(#AA1155 0%, #001111 50%, #AA1155 100%),
    background: #cc3300;
    background: linear-gradient(#cc3300, #ffcc00);
    */

	border: none;
	box-shadow: none;
}

body.section-viewforum div.rules,
body.section-viewtopic div.rules {
	background-color: transparent;
	/*
    background-image:	linear-gradient(#AA1155 0%, #001111 50%, #AA1155 100%),

    background: #cc3300;
    background: linear-gradient(#cc3300, #ffcc00);
     */

	box-shadow: none;
	border: none;
}

body.section-viewforum div.rules > .inner,
body.section-viewtopic div.rules > .inner {
	background-color: transparent;
	border: none;
}

div.rules strong {
	background-color: transparent;
	background: #cc3300;
	background: linear-gradient(#cc3300, #ffcc00);

	color: #FFF;
	padding: 7px;
	font-size: 1.5em;
}

div.rules-link a {
	background-color: #f90;
	background-image: linear-gradient(#ff9900,#ff6600);
	box-shadow: 0 0 2em 0.3em rgba(255,0,246,0.3);
	border: 2px solid #ffb674;
	margin: 10px;
	color: #FFF;
}

div.rules-link a:hover {
	color: #FFF;
	background-color: #F60;
	background-image: linear-gradient(#ff9900,#ff6600);
	box-shadow: 0 0 2em 0.3em rgba(255,0,246,0.3),inset 0 0 0.5em #fff;
	text-decoration: none;
	border: #ffb674;
}

p.post-notice,
.postbody div.rules {
	background-color: rgba(255, 0, 0, 0.1);
	border: solid 1px #AA1111;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

p.post-notice:before {
	background: none !important;
	color: #FFF;
	text-shadow: 0 0 5px #F11;
}


/* Drop-down menus */

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	color: #9dbecb;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before,
ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	color: #FFF;
}

.dropdown .pointer {
	border-color: #C965EB transparent;
}

.dropdown .pointer-inner {
	border-color: #000 transparent;
}

ul.dropdown-contents strong {
	color: #FFB019;
}

ul.dropdown-contents {
	background: #141414 !important;
	border-color: #666;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
}

.forums .dropdown-contents {
	background-color: rgba(0, 0, 0, 0.95);
	background-image: linear-gradient(#73CFFF, #007CBD), linear-gradient(#73CFFF, #007CBD);
	border-bottom: 4px solid #007CBD;
	border-top: 4px solid #73CFFF;
	color: #8EB1BC;
	box-shadow: 0 0 20px 0 rgba(0, 156, 255, 0.3);
}

/* Subforum menus */
.forums .dropdown-contents a 		{ color: #48CCFF; }
.forums .dropdown-contents a:hover 	{ color: #FFF; }


.dropdown .dropdown-contents {
	background: #000;
	background-color: rgba(0,0,0,0.95);
	border: 2px solid #C965EB;
	box-shadow: 0 0 15px rgba(162, 0, 255, 0.3);
}

.dropdown li, .dropdown li li, .dropdown li.separator {
	border-color: #444;
}

/* Notifications */
.dropdown-extended .footer {
	border-color: #653576;
}

.dropdown-extended .header {
	border-color: #653576;
	background: linear-gradient(rgba(34,54,127,0.5), rgba(7,45,87,0.5) 50%, rgba(8,28,52,0.5));
}

.dropdown-extended .pointer-inner {
	border-color: #171b4a transparent;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #444;
	color: #FFF;
}

.dropdown-extended ul li {
	border-color: rgba(0,156,255,0.3);
}

.dropdown-extended ul li:hover {
	background: #11212F;
	background: rgba(34, 49, 84, 0.25);
}

.dropdown-extended ul li.bg2 {
	background: rgba(69,123,190,0.20);
}

.dropdown-extended ul li.bg2:hover {
	background: rgba(69,123,190,0.25);
}

.dropdown-extended a.mark_read {
	background-color: #000;
}


.dropdown-extended a.mark_read:before {
	text-shadow: 0 0 5px #000;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #FF1111;
}

.contact-icons a:hover {
	background-color: #292A2A;
}

/* Contact menu */
.contact-icons a {
	border-color: #333;
}

/* Profile Context Menu */

.profile-context .dropdown-contents {
	box-shadow: 0 0 0 1px #000, 0 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 10px 4px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
}

.profile-context dt,
.profile-context strong {
	color: #66CCFF;
}

.profile-context .user-icons a {
	background-color: #0F0C25;
	background-image: url("./images/icons/context.gif");
	color: #00B6FF;

}
.profile-context .user-icons a:hover {
	background-color: #1F1A44;
	color: #FFF;
}

/* Hover states */

/* Icon styles
---------------------------------------- */
.alert_close .icon:before {
	background-color: #111;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #666;
}

.jumpbox-forum-link {
	background-color: #000;
}

.jumpbox-forum-link:hover {
	background-color: #000;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #000 transparent;
}

.jumpbox-cat-link {
	background-color: #000;
	border-top-color: #000;
	color: #FFB019;
}

.jumpbox-cat-link:hover {
	background-color: #000;
	border-top-color: #666;
	color: #FFFFFF;
}

.jumpbox-sub-link {
	background-color: #000;
}

.jumpbox-sub-link:hover {
	background-color: #000;
}

/* Miscellaneous styles
---------------------------------------- */

.reported {
	background-color: transparent;
}

.reported {
	background-color: red;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */
ul.topiclist li {
	color: #e8f2ff;
}


ul.topiclist li.header
{
	background: none;
	border: none;
	border-bottom: 1px solid rgba(0, 156, 255, 0.35);
}

li.row
{
	border-style: solid;
	transition: background 0.15s ease-in-out 0s;
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

li.row:hover
{
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

li.row strong {
	color: #FFF;
}

li.row.bg1
{
	background: none;
	border-color: transparent;
	border-width: 0 0 1px 0;
}

li.row.bg1:hover
{
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

li.row.bg2
{
	background: none;
	border-color: transparent;
	border-width: 0 0 1px 0;
}

li.row.bg2:hover
{
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

li.row.bg3 /* unread notifications */
{
	background: rgba(69, 123, 190, 0.15);
	border-color: #172040;
	border-width: 0 0 1px 0;
}

li.row.bg3:hover
{
	color: #FFF;
	background: rgba(69, 123, 190, 0.25);
}

li.row.bg1:hover dd {
	border-left-color: transparent;
}

li.row.bg2:hover dd {
	border-left-color: transparent;
}


/* the _pbwow class is needed because of !important usage in prosilver 3.2 */
li.row.pbwow.reported,
li.row.pbwow.reported:hover,
li.pbwow.reported:hover
{
	background-image: linear-gradient(to bottom, rgba(255, 17, 17, 1) 0,
	rgba(255, 17, 17, 0.3) 2%, rgba(255, 0, 100, 0) 25%, rgba(255, 0, 100, 0) 75%,
	rgba(255, 17, 17, 0.3) 98%, rgba(255, 17, 17, 1) 100%) !important;
}

li.pbwow.reported:hover {
	background-color: rgba(255, 17, 17, 0.3) !important;
}

/* Post body styles
----------------------------------------*/
.postbody h3 {
	font-size: 1.2em;
}

.postbody h3.first {
	font-size: 1.3em;
}

#postingbox,
#cp-main #postingbox {
	background-image: linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)),
		linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)),
		url("./images/reply_bg.png");
	background-position: 0 0, 100% 0, 50% 0;
	background-repeat: no-repeat;
	background-size: 1px 100%, 1px 100%, auto;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #E2F2FF;
}

.content h2, .panel h2 {
	color: #00C0FF;
	border-bottom-color: #666;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #E1C492;
}

/* Post noticies */
.notice {
	border-top-color:  #E1C492;
}

/* BB Code styles
----------------------------------------*/

/* Quote block */
blockquote {
	padding: 6px 10px 10px 10px;
	position: relative;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
	color: #8EB1BC;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
	border-color: #093258;
	background-color: rgba(0, 0, 0, 0.1);
}

blockquote:before, blockquote:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	position: absolute;
	opacity: 0.3;
}

blockquote:before {
	content: "\f10d";
	left: 3px;
	top: 2px;
}

blockquote:after {
	content: "\f10e";
	right: 3px;
	bottom: 2px;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: rgba(10, 10, 10, 0.2);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: rgba(10, 10, 10, 0.2);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
}

.signature, .notice {
	padding: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top-color: rgba(0, 151, 173, 0.5);
	color: #224967;
}

dl.codebox {
	background-color: rgba(28, 40, 100, 0.2);
}

/* Code block */
.codebox {
	background-color: rgba(10, 10, 10, 0.3);
	text-shadow: none;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
	border-color: #002555;
}

.codebox p {
	border-color: #002555;
}

.codebox code {
	color: #4A7;
	text-align: left;
	max-height: 400px;
}

.syntaxbg { color: #555; }
.syntaxcomment { color: #F0C674; }
.syntaxdefault { color: #81A2BE; }
.syntaxhtml { color: #AAA; }
.syntaxkeyword { color: #B5BD68; }
.syntaxstring { color: #C66; }

code.inline {
	background-color: rgba(10, 10, 10, 0.3);
	color: #4A7;
	display: inline;
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
	font-size: 0.9em;
	font-style: normal;
	line-height: 1.3em;
	padding: 0 3px;
	border-radius: 2px;
	border: 1px solid #002555;
}

/* Attachments
----------------------------------------*/
.attachbox {
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-color: #D970FD;
}

.attachbox dd {
	border-top-color: rgba(0, 151, 173, 0.5);
}

.attachbox p {
	/*color: #999;*/
}

.attachbox p.stats {
	/*color: #999;*/
}

.pm-message .attachbox {
	background-color: #333;
}

.attach-image img {
	border-color: #444;
}

/* Inline image thumbnails */

.inline-attachment {
	/* TODO */
}

dl.file dd {
	color: #224967;
}

dl.details dt {
	color: #8EB1BC;
}

dl.details dd {
	color: #CCFFFF;
}

dl.faq dt {
	color: #FFF;
}

dl.thumbnail img,
.content a > img.postimage {
	box-shadow: 0 0 6px #000000;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid #14324E !important;
	border-radius: 0 !important;
	padding: 0;
	transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover {
	background-color: #222222;
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
	border: 2px solid #009CFF !important;
}

/* Post poll styles
----------------------------------------*/

/* Poster profile block
----------------------------------------*/

.posthilit {
	background-color: #E1C492;
	color: #000;
	text-shadow: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.buttons .button::before {
	content: "";
	display: block;
	position: absolute;
	left: -1px;
	top: 0;
	height: 98%;
	width: 2px;
	background-color: #00f0ff;
	background: linear-gradient(#a4ffff, #ffffff, #a4ffff);
	box-shadow: 0 0 30px #009cff, 0 0 16px #009cff;
}

.button {
	position:relative;
	background-image: linear-gradient(to bottom, #373737 0%, #111 100%);
	filter: none;
	background: #072d57;
	background: linear-gradient(rgba(8, 28, 52, 0.5), rgba(7, 45, 87, 0.5) 50%, rgba(34, 54, 127, 0.5));
	border: 1px solid #112E62;
	border-radius: 0;
	color: #34FFFF;
	font-family: "Futura", Arial, sans-serif;
	box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
	-o-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	/*transition: all 0.3s;*/
}

.button:hover,
.button:active,
.button:focus {
	background: #072d57;
	background: linear-gradient(rgba(8, 28, 52, 0.75), rgba(7, 45, 87, 0.75) 50%, rgba(34, 54, 127, 0.75));
	border: 1px solid #112E62;
	color: #FFF;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 102, 153, 0.25);
}

.button .icon,
.button-secondary {
	color: #34FFFF;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #FFFFFF;
}

.button-search:hover,
.button-search-end:hover {
	border-color: #072d57;
}

.caret	{ border-color: #494949; }

/* Pagination
---------------------------------------- */

.pagination li a {
	filter: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: rgba(0, 0, 0, 0.75);
	background-origin: border-box;
	border-width: 1px 0 1px 0;
	border-color: rgba(0, 156, 255, 0.3) transparent rgba(17, 46, 98, 0.6) transparent;
	color: #FFFFFF;
	margin: 0 1px;
	transition: border 0.25s ease 0s;
}

.pagination li a:hover,
.pagination .active a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	color: rgb(64, 82, 117);
	text-decoration: none;
	background-size: 100% 100%, 1px 100%, 1px 100%;
	background-position: 0 0, 100% 0, 0 0;
	background-repeat: repeat, no-repeat, no-repeat;
	border-color: rgba(0, 156, 255, 0.3) transparent rgba(17, 46, 98, 0.6) transparent;
	box-shadow: 0 0 7px rgba(0, 102, 153, 0.6);

}

.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {

	border-color: #112E62;
	color: #FFF;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(0, 102, 153, 0.25);
}

.dropdown-select:after,
.dropdown-select:hover:after,
.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after {
	border-color: #112E62;
}

.pagination li.active span {
	background: linear-gradient(rgb(242, 167, 0), rgb(213, 80, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 2px solid #e06f00;
	color: #FFFFFF;
}

.pagination li.active span:hover {
	text-decoration: none;
	box-shadow: none;
	border-color: #e06f00;
	color: #FFF;
}

.pagination li.ellipsis {
	background: none;
}

.pagination li.ellipsis span {
	background: transparent;
	color: #FFB019;
}

.pagination > ul > li {
	background-color: #000;
	background-image: linear-gradient(rgba(0, 156, 255, 0.3), rgba(17, 46, 98, 0.6)), linear-gradient(rgba(0, 156, 255, 0.3), rgba(17, 46, 98, 0.6));
	background-size: 1px 100%;
	background-position: 100% 0, 0 0;
	background-repeat: no-repeat;
}

.pagination li.page-jump a, .pagination li.next a, .pagination li.previous a {
	background-color: #000000;
	background: linear-gradient(rgba(8, 28, 52, 0.5), rgba(7, 45, 87, 0.5) 50%, rgba(34, 54, 127, 0.5)) 0 0 repeat;
	background-origin: border-box;
	border-color: rgba(0, 156, 255, 0.3) transparent rgba(17, 46, 98, 0.6) transparent;
	color: #FFFFFF;
}


/* Search box
--------------------------------------------- */

.search-box .inputbox:focus,
.search-box .inputbox:hover {
	border-color: #00ffff;
}

.search-header {
	box-shadow: none;
}

ul.cplist {
	background: linear-gradient(to top, rgba(13, 13, 13, 1) 0, rgba(27, 27, 27, 0) 46px);
	border: 1px solid #575757;
	box-shadow: 0 0 0 1px #000;
	padding: 3px;
	margin-bottom: 8px;
}

/* Icon images
---------------------------------------- */

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #CCFFFF;
}

.panel,
.panel-container .panel {
	background-color: rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)), linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14));
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	border: none;
	border-bottom: 1px solid rgba(161,139,175,0.14);
	border-top: 1px solid rgba(161,139,175,0.45);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	color: #8EB1BC;
}

.panel-container h3, .panel-container hr, .cp-menu hr {
	border-color: rgba(0,156,255,0.3);
}

.panel-container li.header {
	color: #FFF;
}

.panel-container .panel li.row,
.panel-container .panel li.row.bg1,
.panel-container .panel li.row.bg2 {
	border-style: solid;
	transition: background 0.15s ease-in-out 0s;
	background: none;
	border-color: #172040;
	border-width: 0 0 1px 0;
}

.panel-container .panel li.row:hover {
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

.panel-container .panel li.row.bg1:hover {
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

.panel-container .panel li.row.bg2:hover {
	background: rgba(34, 49, 84, 0.25);
	color: #FFF;
}

/* unread notifications */
.panel-container .panel li.row.bg3 {
	background: rgba(69, 123, 190, 0.15);
	border-color: #172040;
	border-width: 0 0 1px 0;
}

.panel-container .panel li.row.bg3:hover {
	background: rgba(69, 123, 190, 0.25);
	color: #FFF;
}

li.row.reported,
li.row.reported:hover,
.panel-container .panel li.row.reported,
.panel-container .panel li.row.reported:hover {
	background-image: linear-gradient(to bottom, rgba(168, 17, 85, 1) 0, rgba(168, 17, 85, 0.3) 2%, rgba(255, 0, 100, 0) 25%, rgba(255, 0, 100, 0) 75%, rgba(168, 17, 85, 0.3) 98%, rgba(168, 17, 85, 1) 100%);
}

.panel-container .panel li.row.reported:hover {
	background-color: rgba(255, 17, 17, 0.3);
}

/* CP tabbed menu
----------------------------------------*/

.tabs .tab > a {
	background-color: rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)), linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14));
	background-position: 0 1px, 100% 1px;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	background-origin: border-box;
	border-color: rgba(161, 139, 175, 0.45) transparent transparent;
	border-radius: 0;
	color: #8EB1BC;
}

.tabs .tab > a:hover,
.minitabs .tab > a:hover {
	background: rgba(0, 0, 0, 0.6) none;
	border-color: rgba(161, 139, 175, 0.45);
	color: #FFF;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	box-shadow: none;
	background: rgba(0, 0, 0, 0.4);
	border-color: rgba(161, 139, 175, 0.45);
	border-bottom-color: rgba(0, 0, 0, 0.6);
	color: #CCFFFF;
}

.tabs .activetab > a:hover {
	border-bottom-color: #0e0e0e;
	color: #FFF;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/

.minitabs .tab > a {
	background-color: rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)), linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14));
	background-position: 0 1px, 100% 1px;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	background-origin: border-box;
	border-color: rgba(161, 139, 175, 0.45) transparent transparent;
	border-radius: 0;
	color: #8EB1BC;

}

.minitabs .tab > a:hover {
	background: #1a1a1a;
	background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100%);
	border-color: #555;
}

.minitabs .activetab > a {
	background: rgba(0, 0, 0, 0.4);
	border-color: rgba(161, 139, 175, 0.45);
	border-bottom-color: rgba(0, 0, 0, 0.6);
	color: #CCFFFF;
}

.minitabs .activetab > a:hover {
	background: #1a1a1a;
	background: rgba(40, 40, 40, 0.7);
	border-bottom-color: #202020;
	color: #FFF;
}

/* Responsive tabs
----------------------------------------*/

.responsive-tab .responsive-tab-link:before {
	border-color: #999999;
}

/* UCP navigation menu
----------------------------------------*/

.navigation a {
	color: #4F93B6;
	background: #0a1119;
	background: rgba(15,25,36,0.8) linear-gradient(to left, rgba(0,0,0,0.6) 0,rgba(0,0,0,0) 100px);
	border-color: #14324E;
}

.rtl .navigation a { /* Do it here instead of bidi.css, so it's easier to overrule by children) */
	background: rgba(15,25,36,0.8) linear-gradient(to right, rgba(0,0,0,0.6) 0,rgba(0,0,0,0) 100px);
}

.navigation a:hover {
	background-color: rgba(29, 63, 98, 0.3);
	color: #FFF;
}

.navigation .active-subsection a {
	background-image: none;
	display: block;
	color: #FFF;
	background-color: rgba(29, 63, 98, 0.3);
}

.navigation .active-subsection a:hover {
	color: #66CCFF;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .navigation a, .rtl #navigation a {
		background: rgba(40, 40, 40, 0.7) linear-gradient(to left, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 100px);
	}
}

/* Preferences pane layout
----------------------------------------*/

.cp-main .pm {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
	margin-right: 0;
	background-color: rgba(0,0,0,0.4);
	background:	linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)) 0 0 no-repeat,
		linear-gradient(rgba(161, 139, 175, 0.45), rgba(161, 139, 175, 0.14)) 100% 0 no-repeat,
		url("./images/post_bg_highly_rated.png") 50% -1px no-repeat;
	background-size: 1px 100%, 1px 100%, auto !important;
	border: none;
	border-bottom: 1px solid rgba(161,139,175,0.14);
	border-top: 1px solid rgba(161,139,175,0.45);
}


.cp-main h3, .cp-main hr, .cp-menu hr {
	border-color: rgba(29,63,98,0.5);
}

/* Friends list */
.cp-mini {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
	background-color: rgba(46, 116, 150, 0.1);
	border-color: #14324E;
}

dl.mini dt {
	color: #888888;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #FFF;
}

.pmlist li.row:before {
	border-left-color: transparent;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour:before, .pm_message_reported_colour 	{ border-left-color: #BC2A4D; }
.pmlist li.pm_marked_colour:before, .pm_marked_colour 						{ border-left-color: #FF6600; }
.pmlist li.pm_replied_colour:before, .pm_replied_colour 					{ border-left-color: #A9B8C2; }
.pmlist li.pm_friend_colour:before, .pm_friend_colour 						{ border-left-color: #5CFF00; }
.pmlist li.pm_foe_colour:before, .pm_foe_colour 							{ border-left-color: #AA1111; }


/* Avatar gallery */
.gallery label {
	min-height: 102px;
	background-color: rgba(0, 0, 0, 0.4);
	border-color: #14324E;
}

.gallery label:hover {
	background-color: rgba(28, 40, 100, 0.15);
	border-color: #009CFF;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	background: #040d1a url("./images/icons/select.png") no-repeat 100% center;
	border-color: #0F2E63;
	color: #8EB1BC;
	-webkit-appearance: none; /* Removes default chrome and safari style */
	-moz-appearance: none; /* Removes Default Firefox style */
}

/* bbcode buttons */
.format-buttons input {
	background: #4a0b6b;
	background: linear-gradient(#480769, #572e76);
	border-color: #570d74;
	box-shadow: none;
	color: #FFF;
	text-shadow: 0 0 0.6em #CC00FF;
}

.format-buttons input:hover {
	background: #4a0b6b;
	background: linear-gradient(#67358d, #49086b);
	border-color: #731095;
	box-shadow: none;
	text-shadow: 0 0 0.6em #CC00FF;
}

.format-buttons input:active {
	background: #4a0b6b;
	box-shadow: none;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset dt {
	color: #3D6F95;
}

fieldset dl:hover dt label,
fieldset.fields2 dl:hover dt label {
	color: #66CCFF;
}

label { color: #FFF; }

dd label { color: #CCC; }

/* Posting page styles
----------------------------------------*/
/* Main message box */

#message-box textarea { color: #8eb1bc; }

#message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}
#message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */

.inputbox {
	background-color: #040D1A;
	border-color: #14324E;
	color: #8eb1bc;
}

.inputbox:hover,
.inputbox:focus {
	border-color: #3380c8;
}

.inputbox:focus {
	color: #FFF;
}

.inputbox:-ms-input-placeholder { color: #976DA2 !important; opacity: 0.6; }
.inputbox:-moz-placeholder { color: #976DA2; opacity: 0.6; }
.inputbox::-moz-placeholder { color: #976DA2; opacity: 0.6; }
.inputbox::-webkit-input-placeholder { color: #976DA2; opacity: 0.6; }

input.button1:active, input.button2:active, input.button3:active {
	background-image: linear-gradient(to bottom, #111, #222);
	box-shadow: inset 0 0 2px 1px #000, 0 2px 5px 1px rgba(0, 0, 0, 0.5);
	border-color: #888;
	color: #CCC;
}

input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #00C0FF;
	color: #FFF;
}


/* Form button styles
---------------------------------------- */



a.button1,
a.button2,
input.button1,
input.button2, input.button3 {
	background: linear-gradient(rgba(4, 14, 26, 0.7), rgba(12, 60, 89, 0.7)) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #0F2E63 #0F2E63 #1F62B5;
	text-shadow: 0 0 0.7em #009CFF;
	box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6);
}

a.button1,
a.button2 {
	color: #DDD;
}

input.button1,
input.button2, input.button3 {
	color: #CFF;
}


a.button1, input.button1,
a.button2, input.button2, input.button3 {
	background: linear-gradient(rgba(4, 14, 26, 0.7), rgba(12, 60, 89, 0.7)) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #0F2E63 #0F2E63 #1F62B5;
	color: #CFF;
	text-shadow: 0 0 0.7em #009CFF;
	box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.6);
}

input.button3 {
	background-image: none;
}

/* Hover states */
a.button1:hover, input.button1:hover,
a.button2:hover, input.button2:hover, input.button3:hover {
	color: #FFF;
	background: linear-gradient(169deg, #260D54, #000000) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #182E83 #182E83 #1F62B5;
	text-shadow: 0 0 0.9em #009CFF;
	box-shadow: 0 0 4px rgba(155, 114, 251, 0.25);
}

input.button1:active, input.button3:active, input.button2:active {
	color: #DDD;
	background-image: none;
	box-shadow: inset 0 0 2px 1px #000, 0 2px 5px 1px rgba(0, 0, 0, 0.5);
	border-color: #3380C8;
}


a.button1:link, a.button1:visited, a.button1:active,
a.button2:link, a.button2:visited, a.button2:active {
	color: #DDD;
	padding: 2px 8px;
}


/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	color: #0F4987;
	border-color: #3B1360;
}

.button1.disabled {
	background-image: linear-gradient(rgba(8, 28, 52, 0.5), rgba(7, 45, 87, 0.5) 50%, rgba(34, 54, 127, 0.5));
	background-color: transparent;
	border-color: #0A1C3B;
	box-shadow: 0 1px 7px 0 rgba(118, 118, 118, 0.18), inset 0 0 3px 0 rgba(154, 135, 140, 0.8);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
	color: #224967 !important;
}


input.disabled {
	color: #666666;
}

option.disabled-option {
	color: #888;
}

/* Search box (header)
--------------------------------------------- */

.search-header .inputbox:focus {
	background: none;
	border: none;
}

/* jQuery popups
---------------------------------------- */

.phpbb_alert {
	background: #000;
	background-color: rgba(0,0,0,0.95);
	border: 2px solid #C965EB;
	border-radius: 0;
	box-shadow: 0 0 15px rgba(162, 0, 255, 0.3);
}

.phpbb_alert .alert_close:after {
	color: #F00;
}

.darken {
	background-color: #000000;
}

.dropdown .dropdown-contents {
	background: #141414;
	border-color: #666;
	box-shadow: 1px 1px 7px #000c;
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 1px 7px #000c;
}

.dropdown li, .dropdown li li {
	border-color: #666;
}

.dropdown li.separator {
	border-color: #666;
}


/* Notifications
---------------------------------------- */
.notification_list p.notification-time {
	color: #FFB019;
}

.badge {
	background-color: #D31141;
	color: #fff;
	-moz-box-shadow:    inset 0 0 4px #000000;
	-webkit-box-shadow: inset 0 0 4px #000000;
	box-shadow:         inset 0 0 4px #000000;
}